IO_LOC  "seg [5]" 55;
IO_PORT "seg [5]" IO_TYPE=LVCMOS33;

IO_LOC  "column [3]" 85;
IO_PORT "column [3]" IO_TYPE=LVCMOS33;

IO_LOC  "column [2]" 84;
IO_PORT "column [2]" IO_TYPE=LVCMOS33;

IO_LOC  "column [1]" 83;
IO_PORT "column [1]" IO_TYPE=LVCMOS33;

IO_LOC  "column [0]" 82;
IO_PORT "column [0]" IO_TYPE=LVCMOS33;

IO_LOC  "row [3]" 81;
IO_PORT "row [3]" IO_TYPE=LVCMOS33;

IO_LOC  "row [2]" 80;
IO_PORT "row [2]" IO_TYPE=LVCMOS33;

IO_LOC  "row [1]" 79;
IO_PORT "row [1]" IO_TYPE=LVCMOS33;

IO_LOC  "row [0]" 56;
IO_PORT "row [0]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [6]" 57;
IO_PORT "seg [6]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [4]" 54;
IO_PORT "seg [4]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [3]" 53;
IO_PORT "seg [3]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [2]" 42;
IO_PORT "seg [2]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [1]" 30;
IO_PORT "seg [1]" IO_TYPE=LVCMOS33;

IO_LOC  "seg [0]" 29;
IO_PORT "seg [0]" IO_TYPE=LVCMOS33;

IO_LOC  "transis [3]" 28;
IO_PORT "transis [3]" IO_TYPE=LVCMOS33;

IO_LOC  "transis [2]" 25;
IO_PORT "transis [2]" IO_TYPE=LVCMOS33;

IO_LOC  "transis [1]" 26;
IO_PORT "transis [1]" IO_TYPE=LVCMOS33;

IO_LOC  "transis [0]" 27;
IO_PORT "transis [0]" IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS18 PULL_MODE=UP;

IO_LOC  "rst" 3;
IO_PORT "rst" IO_TYPE=LVCMOS18;
